<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<!--
  Responsive html5slides
  Author: Jared Gholston
  URL: https://github.com/jarbot/responsive-html5slides

  Based on:
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->
  <head>
    <title>An Event Apart Recap 2012</title>
    <meta charset='utf-8'>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/responsive_slides.css">
  </head>
  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
        
        
      <article>
        <h1 id="testFlow">
          An Event Apart 2012
        </h1>
        <h2>
          Recap
        </h2>
        <p>
          Jared Gholston
          <br>
          August 20, 2012
        </p>
      </article>
      
      <article>
        <h3>
          Agenda
        </h3>
        <ol class="toc">
          <li>What is An Event Apart?</li>
          <li>What we're doing now (desktop + responsive)</li>
          <li>Where should we go from here?</li>
              <ul>
                  <li>Content First</li>
                  <li>Mobile First</li>
                  <li>Style Guide</li>
                  <!--
                  <li>content first (zeldman)</li>
                  <li>mobile first argument (show stats, Karen McGrane)</li>
                  <li>style guide (starbucks, marcotte)</li>
                  <li>responsive & mobile first (images,media, etc marcotte)</li>
                  <li>TV is not radio</li>
                  <li>The web is not print</li>
                  <li>Mobile browsing is not a tiny desktop</li>
                  <li>adaptive content</li>
                  <li>optimizing forms for mobile</li> -->
              </ul>
          </li>
        </ol>
      </article>

      <article>
        <h3>
            What is An Event Apart?
        </h3>
        <ul class="build">
          <li>
            code
          </li>
          <li>
            content
          </li>
          <li>
            usability
          </li>
          <li>
            design
          </li>
        </ul>
        <div class="build">
            <blockquote>
                "Founded by web visionaries Eric Meyer and Jeffrey Zeldman, and dedicated to the proposition that the creators of great web experiences deserve a great learning experience, An Event Apart brings together twelve of the leading minds in web design for two days of non-stop inspiration and enlightenment."
            </blockquote>
        </div>
      </article>

      <article>
          <h2>What are we doing now?</h2>
          <h3 class="build">Desktop First</h3>
          <h3 class="build">Responsive</h3>
          <h3 class="build"></h3>
      </article>

      <article>
          <h2>20%</h2>
          <p>OF AMERICANS HAVE NO
              INTERNET ACCESS AT ALL.</p>
          <h2>35%</h2>
          <p>
              HAVE NO INTERNET
              ACCESS AT HOME.
          </p>
      </article>
        <article>
            <h2>29%</h2>
            <p>OF BLACK AMERICANS
                HAVE NO INTERNET ACCESS.</p>
            <h2>51%</h2>
            <p>
                HAVE NO BROADBAND
                ACCESS AT HOME.
            </p>
        </article>
        <article>
            <h2>32%</h2>
            <p>OF HISPANIC AMERICANS
                HAVE NO INTERNET ACCESS.</p>
            <h2>49%</h2>
            <p>
                HAVE NO BROADBAND
                ACCESS AT HOME.
            </p>
        </article>
        <article>
            <h2>38%</h2>
            <p>OF AMERICANS WHO MAKE
                LESS THAN $30,000 PER YEAR
                HAVE NO INTERNET ACCESS.</p>
            <h2>59%</h2>
            <p>
                HAVE NO BROADBAND
                ACCESS AT HOME.
            </p>
        </article>
        <article>
            <h2>57%</h2>
            <p>OF AMERICANS WITH NO
                HIGH SCHOOL DIPLOMA
                HAVE NO INTERNET ACCESS.</p>
            <h2>88%</h2>
            <p>
                HAVE NO BROADBAND
                ACCESS AT HOME.
            </p>
        </article>
        <article>
            <h2>46%</h2>
            <p>OF AMERICANS WITH A
                DISABILITY HAVE NO
                INTERNET ACCESS.</p>
            <h2>59%</h2>
            <p>
                HAVE NO BROADBAND
                ACCESS AT HOME.
            </p>
        </article>
        <article>
            <h2>mobile ownership</h2>
            <p>2009: 85%</p>
            <p>2012: 88%</p>

            <h2>mobile internet use</h2>
            <p>2009: 31%</p>
            <p>2012: 55%</p>

        </article>

        <article>
            <p>31% OF ALL AMERICANS

                ONLY OR MOSTLY USE THE
                INTERNET ON THEIR MOBILES</p>
            <p>
                39% OF NO-COLLEGE AMERICANS</p
            <p>43% LOW-INCOME AMERICANS</p>
        </article>

        <article>
            <h2>Paypal MOBILE PAYMENTS</h2>
            <p class="build">$141M 2009</p>
            <p class="build">$750M 2010</p>
            <p class="build">$4B 2011</p>
        </article>

        <article>
        <h1>
          optimizing forms for mobile
        </h1>
      </article>
        <article>
            <ul>
                <li>Don’t remove critical features</li>
                <li>Use input types & attributes</li>
                <li>Show passwords by default</li>
                <li>Use input masks, if needed</li>
                <li>If possible, save passwords</li>
                <li>Consider single sign-on</li>
            </ul>
        </article>
        <article>
            <blockquote>
                “Masking passwords doesn't even increase
                security, but it does cost you business due
                to login failures.” -Jakob Nielsen
            </blockquote>
        </article>
        <article>
            <h2>Mobile form optimizations</h2>
            <ul>
                <li>be fleible in what you accept</li>
                <li>use input types and attributes</li>
                <li>don't remove critical features (help)</li>
            </ul>
        </article>

        <article>
            <h2>checkout forms</h2>
            <ul>
                <li class="build">71% 2010 shopping cart
                    abandonment rate</li>
                <li class="build">75% 2011 shopping cart
                    abandonment rate</li>
            </ul>
        </article>

      <article>
          <h2>checkout forms</h2>
          <ul>
              <li class="build">Remove unnecessary questions</li>
              <li class="build">keep people on the keys</li>
              <li class="build">reduce number of controls</li>
              <li class="build">progressive input types</li>
              <li class="build">combine fields when possible</li>
              <li class="build">remove optional fields</li>
              <li class="build">hide irrelvant controls (multiple phone numbers, address2)</li>
          </ul>
      </article>

    </section>

    <script src='js/slides.js'></script>

  </body>
</html>
